/TesteNB19JDK20/nbproject/private/
/TesteNB19JDK20/build/
/Exemplo1_BomDiaMundo/nbproject/private/
/Exemplo1_BomDiaMundo/build/
/Exemplo1_BomDiaMundo/dist/
/Exemplo_2_Inteiros/nbproject/private/
/Exemplo_2_Inteiros/build/
/Exemplo_2_Inteiros/dist/
/Exemplo03_Float/nbproject/private/
/Exemplo03_Float/build/
/Exemplo04.java/nbproject/private/
/Exemplos04_Tipos/nbproject/private/
/Exemplo05_For/nbproject/private/
/Exemplo05_For/build/
/Exemplo08_Strings/nbproject/private/
/Exemplo08_Strings/build/
/Exemplo07_if/nbproject/private/
/Exemplo07_if/build/
/Exemplo9Classes/nbproject/private/
/Exemplo9Classes/build/
/Exemplo9Classes/dist/
/Exemplo10_JframeSimples/nbproject/private/
/Exemplo10_JframeSimples/build/
/Tarefa01ClasseCilindro/nbproject/private/
/Tarefa01ClasseCilindro/build/
