/TesteNB19JDK20/nbproject/private/
/TesteNB19JDK20/build/
/Exemplo1_BomDiaMundo/nbproject/private/
/Exemplo1_BomDiaMundo/build/
/Exemplo1_BomDiaMundo/dist/
/Exemplo_2_Inteiros/nbproject/private/
/Exemplo_2_Inteiros/build/
/Exemplo_2_Inteiros/dist/
/Exemplo03_Float/nbproject/private/
/Exemplo03_Float/build/
/Exemplo04.java/nbproject/private/
/Exemplos04_Tipos/nbproject/private/
/Exemplo05_For/nbproject/private/
/Exemplo05_For/build/
/Exemplo08_Strings/nbproject/private/
/Exemplo08_Strings/build/
/Exemplo07_if/nbproject/private/
/Exemplo07_if/build/
/Exemplo9Classes/nbproject/private/
/Exemplo9Classes/build/
/Exemplo9Classes/dist/
/Exemplo10_JframeSimples/nbproject/private/
/Exemplo10_JframeSimples/build/
/Tarefa01ClasseCilindro/nbproject/private/
/Tarefa01ClasseCilindro/build/
/Exemplo11/nbproject/private/
/Exemplo12_CaixaTexto/nbproject/private/
/Exemplo12_CaixaTexto/build/
/Exemplo13_Calculadora/nbproject/private/
/Exemplo13_Calculadora/dist/
/Exemplo13_Calculadora/build/
/Exemplo13b_Calculadora2/nbproject/private/
/Exemplo13b_Calculadora2/build/
/Exemplo13Calculadora2/nbproject/private/
/Exemplo14_Conversor/nbproject/private/
/Exemplo14_Conversor/build/
/Exemplo15_Palete/nbproject/private/
/Exemplo15_Palete/build/
/Exemplo16_Contador/nbproject/private/
/Exemplo16_Contador/build/
/Exemplo17_Bola/nbproject/private/
/Exemplo17_Bola/build/
/Exemplo18_ComboBox/nbproject/private/
/Exemplo18_ComboBox/build/
/Exemplo20_PaleteLouca/nbproject/private/
/Exemplo20_PaleteLouca/build/
/Exemplo23_Vetores/nbproject/private/
/Exemplo23_Vetores/build/
